
<ion-view view-title="Masjidku" hide-nav-bar="true">
    <ion-content class="padding">
    	<div class="home">
    	<div id="logo">
	        <img ng-src="img/app_icon.png">
	    </div>

	      <h3>Jangan lupa sholat di Masjid</h3>
	      <p>
	        dimanapun kamu berada
	      </p>
        <button class="button button-block button-grad" ng-click="cari()">Cari</button>
        </div>
    </ion-content>

    <div class="bar bar-footer ">
    	<button class="button button-clear button-grad" ng-click="toIntro()">Intro</button>
	  <div class="title">
	  </div>
	</div>
</ion-view>