<ion-view view-title="Intro" hide-nav-bar="true">
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>     
      <div id="logo">
        <img ng-src="img/app_icon.png">
      </div>

      <h3>Apakah kamu tahu</h3>
      <p>
        dimana kamu berada saat ini ?
      </p>
    </ion-slide>

    <ion-slide>     
      <div id="logo">
        <img ng-src="img/app_icon.png">
      </div>

      <h3>Apakah kamu pernah</h3>
      <p>
        kesulitan mencari masjid terdekat ?
      </p>
    </ion-slide>

    <ion-slide>     
      <div id="logo">
        <img ng-src="img/app_icon.png">
      </div>

      <h3>Masjidku</h3>
      <p>
        Adalah aplikasi yang bisa membantumu mengetahui masjid terdekat disaat kamu tidak mengetahui keberadaanmu.
      </p>
      <button class="button button-block button-grad" ng-click="start()">Mulai</button>
    </ion-slide>
  </ion-slide-box>
</ion-view>